body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  /*overflow: hidden;*/
}

/* nav bar */
body {
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: white;
  height: 8%;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  /* padding: 10px 0;*/
  color: black;
  text-transform: uppercase;
}
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: cornflowerblue;
}
/*profile section*/

.main_container {
  justify-content: center;
  position: relative;
  width: 88%;
  /*height: 60%;*/
}

.sub_main {
  width: 60%;
  height: 70%;
  /*margin: 0 auto;*/

  margin: 20px auto;
  background-color: #e6dace;

  /*padding: 60px 50px 50px 70px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;

  /* display: flex;
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*box-shadow: 5px 10px #888888;*/
  /* box-shadow: 0 8px 6px -6px black;*/
  /*box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);*/

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.profile {
  width: 45%;
  height: 80%;
  float: left;
  /* padding-left: 30px;*/
  margin: 20px;
  background-color: #f4ece6;
  /*box-shadow: 5px 10px #888888;*/
  /*box-shadow: 0px 0px 3px 8px #888888;*/
  box-shadow: 0 8px 6px -6px black;
}
.hello {
  width: 40%;
  height: 70%;
  float: left;
  margin: 20px;
}
.heading {
}

.heading h1,
h6 {
  margin: 5px;
  padding: 5px;
  font-family: "Space Mono", monospace;
  line-height: 120%;
  color: black;
}

.pp {
  font-family: "Space Mono", monospace;
  line-height: 120%;
  color: black;
}

.profile_photo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  width: 57%;
  height: 60%;
  border-radius: 50%;
}

.name {
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.social_media {
  /* margin: 0 auto;
  width: 100%;
  */
  height: 19%;
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
}

.social_media ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_media li {
  display: inline-block;
  /* margin-left: 70px;*/
  padding-top: 37px;
}
.social_media a {
  margin: 0 10px 0 0;
  list-style: none;
  text-decoration: none;
  width: 15px;
  cursor: pointer;
  color: black;
}

/* footer*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
